In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('../../data/county/pr_population.csv', encoding="ISO-8859-1")

In [8]:
df = df.drop(0)

In [10]:
df = df[["GC.target-geo-id", "respop72018"]]

In [24]:
df = df.rename(columns={"GC.target-geo-id":"geo_id", "respop72018":"POPESTIMATE2018"})

In [17]:
df.append([("geo_id""0500000US02270", 8303)])

   GC.target-geo-id  respop72018               0       1
1    0500000US72001      17302.0             NaN     NaN
2    0500000US72003      36621.0             NaN     NaN
3    0500000US72005      50598.0             NaN     NaN
4    0500000US72007      24848.0             NaN     NaN
5    0500000US72009      22143.0             NaN     NaN
..              ...          ...             ...     ...
75   0500000US72147       8364.0             NaN     NaN
76   0500000US72149      21476.0             NaN     NaN
77   0500000US72151      32158.0             NaN     NaN
78   0500000US72153      33860.0             NaN     NaN
0               NaN          NaN  0500000US02270  8303.0

[79 rows x 4 columns]

In [25]:
#Add Wade Hampton in Alaska which had a name change
df.loc[79] = ("0500000US02270", "8303")

In [26]:
df

            geo_id POPESTIMATE2018
1   0500000US72001           17302
2   0500000US72003           36621
3   0500000US72005           50598
4   0500000US72007           24848
5   0500000US72009           22143
..             ...             ...
75  0500000US72147            8364
76  0500000US72149           21476
77  0500000US72151           32158
78  0500000US72153           33860
79  0500000US02270            8303

[79 rows x 2 columns]

In [28]:
df.to_csv("../../data/county/population2.csv")